<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuebei.crm.message.MsgMapper">
    
    <resultMap id="queryMap" type="com.xuebei.crm.message.Query">
        <id property=""
    </resultMap>

</mapper>