<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xuebei.crm.opportunity.OpportunityMapper">

    <resultMap id="companyMap" type="com.xuebei.crm.company.Company">
        <id property="companyId" column="company_id"/>
        <result property="companyName" column="com_nm"/>
    </resultMap>

    <resultMap id="opportunityMap" type="com.xuebei.crm.opportunity.Opportunity">
        <id property="opportunityId" column="sales_opportunity_id"/>
        <result property="customerId" column="customer_id"/>
        <result property="customerName" column="customer_nm"/>
        <result property="opportunityName" column="opportunity_nm"/>
        <result property="salesStatus" column="sales_status"/>
        <result property="amount" column="amount"/>
        <result property="userId" column="user_id"/>
        <result property="create_ts" column="create_ts"/>

    </resultMap>


    <insert id="addSale" parameterType="com.xuebei.crm.opportunity.Opportunity"
            useGeneratedKeys="true" keyColumn="sales_opportunity_id" keyProperty="opportunityId">
        INSERT INTO `crmdb`.`sales_opportunity` (
            `customer_id`, `opportunity_nm`,
            `sales_status`, `amount`, `check_date`, `clinch_date`,
             `content`, `user_id`, `create_ts`, `updater_id`, `update_ts`
        ) VALUES (
            #{customerId},
            #{opportunityName},
            #{salesStatus},
            #{amount},
            #{checkDate},
            #{clinchDate},
            #{content},
            #{userId},
            NOW(),
            #{userId} ,
            NOW()
        )
    </insert>

    <insert id="addOpportunityContact">
        INSERT INTO `crmdb`.`opportunity_contacts` (
            `sales_opportunity_id`, `contacts_id`
        ) VALUES (
            #{opportunityId},
            #{contactId}
        )
    </insert>

    <select id="queryOpportunity" resultMap="opportunityMap">
       SELECT  s.sales_opportunity_id,s.customer_id,c.customer_nm,s.opportunity_nm,s.sales_status,s.amount,s.user_id,s.create_ts FROM sales_opportunity s
        LEFT JOIN crmdb.crm_customer c ON c.customer_id = s.customer_id
        WHERE 1 =1
        <if test="createStart != null">
            AND s.create_ts > #{createStart}
        </if>
        <if test="createEnd != null">
            AND s.create_ts &lt;  #{createEnd}
        </if>
        <if test="salesStatus != null and salesStatus != 'all'">
            AND s.sales_status = #{salesStatus}
        </if>
        <if test="customerName != null and customerName != ''">
            AND c.customer_nm LIKE CONCAT('%', #{customerName}, '%')
        </if>
        <if test="userId != null and userId != 'all' and userId !=''">
            AND s.user_id = #{userId}
        </if>
        <if test="subUserId!= null  ">
            AND s.user_id IN
            <foreach item="subUserId" collection="subUserId" open="(" separator="," close=")">
                #{subUserId}
            </foreach>

        </if>
        <if test="subUser != null and subUser != '' ">
            AND s.user_id IN
            <foreach item="subUser" collection="chooseSubUser" open="(" separator="," close=")">
                #{subUser}
            </foreach>

        </if>

        <if test="sortMode == 'ASC'">
            ORDER BY s.create_ts ASC
        </if>
        <if test="sortMode == 'DESC'">
            ORDER BY s.create_ts DESC
        </if>

    </select>

</mapper>