<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xuebei.crm.project.ProjectMapper">
    
    <resultMap id="projectMap" type="com.xuebei.crm.project.Project">
        <id property="projectId" column="sales_opportunity_id"/>
        <result property="projectName" column="opportunity_nm"/>
        <result property="customerId" column="customer_id"/>
        <result property="status" column="sales_status"/>
        <result property="amount" column="amount"/>
        <result property="deadLine" column="clinch_date"/>
        <result property="content" column="content"/>
        <result property="leader" column="leader"/>
        <result property="userId" column="user_id"/>
        <result property="agent" column="agent"/>
        <result property="createTime" column="create_ts"/>
        <result property="updaterId" column="updater_id"/>
        <result property="updateTime" column="update_ts"/>
    </resultMap>

    <resultMap id="opportunityMap" type="com.xuebei.crm.opportunity.Opportunity">
        <id property="opportunityId" column="sales_opportunity_id"/>
        <result property="opportunityName" column="opportunity_nm"/>
    </resultMap>
    
    <resultMap id="projectStartMap" type="com.xuebei.crm.project.ProjectStart">
        <id property="id" column="start_project_id"/>
        <result column="sales_opportunity_id" property="projectId"/>
        <result column="status" property="status"/>
        <result column="apply_content" property="applyContent"/>
        <result column="user_id" property="userId"/>
        <association property="projectName" javaType="java.lang.String">
            <id property="projectId" column="sales_opportunity_id"/>
            <result column="opportunity_nm" property="projectName"/>
        </association>
    </resultMap>
    
    <resultMap id="contractMap" type="com.xuebei.crm.project.Contract">
        <id column="contract_id" property="contractId"/>
        <result column="contract_no" property="contractNo"/>
        <result column="project_id" property="projectId"/>
        <result column="amount" property="amount"/>
        <result column="advance_pay" property="advancePay"/>
        <result column="advance_time" property="advanceTime"/>
    </resultMap>

    <resultMap id="refundLogMap" type="com.xuebei.crm.project.Refund">
        <id column="refund_id" property="refundId"/>
        <result column="project_id" property="projectId"/>
        <result column="refund_amount" property="refundNum"/>
        <result column="refund_condition" property="condition"/>
    </resultMap>

    <insert id="insertProject" parameterType="com.xuebei.crm.project.Project"
            useGeneratedKeys="true" keyColumn="sales_opportunity_id" keyProperty="projectId">
        INSERT INTO  sales_opportunity
        ( `customer_id`, `opportunity_nm`,
          `sales_status`, `amount`, `clinch_date`, `agent`, `leader`,
          `content`, `user_id`, `create_ts`, `updater_id`, `update_ts`)
        VALUES
        ( #{customerId},#{projectName},  #{status}, #{amount}, #{deadLine},
        #{agent}, #{leader},#{content}, #{userId}, NOW(),
         #{userId}, NOW()
        )
    </insert>

    <insert id="insertProjectStart" parameterType="com.xuebei.crm.project.ProjectStart"
            useGeneratedKeys="true" keyColumn="start_project_id" keyProperty="id">
        INSERT INTO project_start(
          `status`, `apply_content`, `sales_opportunity_id`, `user_id`
        ) VALUES (
                'applying', #{applyContent}, #{projectId}, #{userId}
        )
    </insert>

    <insert id="insertContract" parameterType="com.xuebei.crm.project.Contract">
        INSERT INTO contract(
          `contract_id`, `contract_no`, `project_id`,
          `amount`, `advance_pay`, `advance_time`
        ) VALUES (
          #{contractId}, #{contractNo}, #{projectId},
          #{amount}, #{advancePay}, #{advanceTime}
        )
    </insert>
    
    <insert id="insertRefund" parameterType="com.xuebei.crm.project.Refund"
            useGeneratedKeys="true" keyColumn="refund_id" keyProperty="refundId">
        INSERT INTO refund_log (
            `project_id`, `refund_amount`, `refund_condition`
        ) VALUES (
            #{projectId}, #{refundNum}, #{condition}
        )
    </insert>

    <update id="updateProjectStart" parameterType="com.xuebei.crm.project.ProjectStart">
        UPDATE project_start SET
            status = 'applying', apply_content = #{applyContent}
        WHERE start_project_id = #{id}
    </update>

    <update id="updateContract" parameterType="com.xuebei.crm.project.Contract">
        UPDATE contract SET
            amount = #{amount}, advance_pay = #{advancePay}, advance_time = #{advanceTime}
        WHERE contract_id = #{contractId}
    </update>
    
    <update id="updateRefund" parameterType="com.xuebei.crm.project.Refund">
        UPDATE refund_log SET
            refund_amount = #{refundNum}, refund_condition = #{condition}
        WHERE refund_id = #{refundId}
    </update>

    <select id="searchProject" resultMap="projectMap">
        SELECT s.sales_opportunity_id, s.opportunity_nm, s.customer_id, s.sales_status, s.amount, s.clinch_date,
            s.agent, s.leader, s.content, s.user_id, s.create_ts, s.updater_id, s.update_ts FROM sales_opportunity s
        INNER JOIN crm_customer v ON s.customer_id = v.customer_id
        LEFT JOIN company_customer c ON c.customer_id = s.customer_id
        LEFT JOIN company_user u ON u.company_id = c.company_id
        WHERE u.user_id = #{userId}
        AND s.sales_status in ( '0' , '1', '2', '3')
        <if test="startTime != null">
            AND s.create_ts &gt; #{startTime}
        </if>
        <if test="endTime != null">
            AND s.create_ts  &lt;#{endTime}
        </if>
        <if test="status != null and status != 'all'">
            AND s.sales_status = #{status}
        </if>
        <if test="creator == 'mine'">
            AND s.user_id = #{userId}
        </if>
        <if test="subMember != null">
            AND s.user_id IN
            <foreach item="subId" collection="subMember" open="(" separator="," close=")">
                #{subId}
            </foreach>
        </if>
        <if test="customerName != null and customerName != ''">
            AND v.customer_nm LIKE CONCAT('%', #{customerName}, '%')
        </if>
        <if test="before != null and before != ''">
            AND s.sales_status in ('0', '1')
        </if>
        <if test="after != null and after != ''">
            AND s.sales_status in ('2', '3')
        </if>
    </select>

    <select id="getProjectStart" resultMap="projectStartMap">
        SELECT * FROM project_start ps
        WHERE ps.sales_opportunity_id = #{projectId} AND ps.user_id = #{userId}
              AND ps.status = 'applying'
    </select>

    <select id="getRefunds" resultMap="refundLogMap">
        SELECT * from refund_log
        WHERE project_id = #{projectId}
    </select>

    <select id="getContract" resultMap="contractMap">
        SELECT * FROM contract
        WHERE project_id = #{projectId}
    </select>
    
    <select id="queryOpportunitiesByUserId" resultMap="opportunityMap">
        SELECT sales_opportunity_id, opportunity_nm
        FROM sales_opportunity
        WHERE user_id = #{userId};
    </select>

    <select id="queryOpportunityNameByOpportunityId" resultType="java.lang.String">
        SELECT opportunity_nm
        FROM sales_opportunity
        WHERE sales_opportunity_id = #{opportunityId};
    </select>

</mapper>