<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>添加客户信息</title>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="/weui.css"/>
    <link rel="stylesheet" href="/example.css">

    <script src="/lib/jquery-2.1.1.js"></script>
    <script src="/vue.v2.5.13.js"></script>
    <script src="/customer/addCustomer.js"></script>
    <script src="/sample.js"></script>
    <style>
        .edgeButton {
            color: dodgerblue;
            height: 40px;
            margin-top: 20%;
        }

        .center-box {
            margin-top: 1%;
            font-size: large;
            height: 40px;
        }
    </style>
</head>
<body>
<div id="addCustomerVue">
    <div id="addCustomer" v-show="showPage === 'addCustomer'">
        <div class="weui-flex" style="background-color: white;height: 45px;">
            <div>
                <a href="javascript:customerList();">
                    <div class="placeholder edgeButton">&nbsp; 取消</div>
                </a></div>
            <div class="weui-flex__item" align="center">
                <div class="placeholder center-box" align="center">新建学校</div>
            </div>
            <div>
                <div class="placeholder edgeButton" align="center" @click="subMit"> 提交 &nbsp; </div>
            </div>
        </div>

        <div class="weui-cells">
            <a class="weui-cell weui-cell_access" @click="selectSch">
                <label class="weui-label">选择学校类型</label>
                <div class="weui-cell__bd" id="selSch">
                    &nbsp; {{schoolType}}
                </div>
                <div class="weui-cell__ft"></div>
            </a>
            <a class="weui-cell weui-cell_access" @click="selectNam">
                <label class="weui-label" style="white-space:nowrap">学校名称</label>
                <div class="weui-cell__bd" id="selNam">
                    &nbsp; {{name}}
                </div>
                <div class="weui-cell__ft"></div>
            </a>
        </div>

        <div class="weui-cells__title">简介</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <textarea class="weui-textarea" placeholder="请输入学校的简介(选填)" rows="5" v-model="profile"></textarea>
                    <div class="weui-textarea-counter"></div>
                </div>
            </div>
        </div>
        <div class="weui-cells__title">官方网站</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <textarea class="weui-textarea" placeholder="请输入学校官网(选填)" rows="5" v-model="website"></textarea>
                    <div class="weui-textarea-counter"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="selSchType" v-show="showPage === 'selSchType'">
        <div class="weui-flex" style="background-color: white;height: 45px;">
            <div>
                <div class="placeholder edgeButton" @click="cancel">&nbsp; 取消</div>
            </div>
            <div class="weui-flex__item">
                <div class="placeholder center-box" align="center">选择学校类型</div>
            </div>
            <div>
                <div class="placeholder" style="color: dodgerblue;height: 40px;margin-top: 20%;visibility: hidden"
                     align="center"> 提交 &nbsp; </div>
            </div>
        </div>
        <div class="weui-cells weui-cells_radio" @click="selectSchool">
            <label class="weui-cell weui-check__label" for="sch1">
                <div class="weui-cell__bd">
                    <p>高校</p>
                </div>
                <div class="weui-cell__ft">
                    <input type="radio" class="weui-check" name="radio1" id="sch1" value="高校" v-model="schoolType"/>
                    <span class="weui-icon-checked"></span>
                </div>
            </label>
            <label class="weui-cell weui-check__label" for="sch2">
                <div class="weui-cell__bd">
                    <p>高职</p>
                </div>
                <div class="weui-cell__ft">
                    <input type="radio" name="radio1" class="weui-check" id="sch2" value="高职" v-model="schoolType"/>
                    <span class="weui-icon-checked"></span>
                </div>
            </label>
            <label class="weui-cell weui-check__label" for="sch3">
                <div class="weui-cell__bd">
                    <p>中职</p>
                </div>
                <div class="weui-cell__ft">
                    <input type="radio" name="radio1" class="weui-check" id="sch3" value="中职" v-model="schoolType"/>
                    <span class="weui-icon-checked"></span>
                </div>
            </label>
            <label class="weui-cell weui-check__label" for="sch4">
                <div class="weui-cell__bd">
                    <p>K12</p>
                </div>
                <div class="weui-cell__ft">
                    <input type="radio" name="radio1" class="weui-check" id="sch4" value="K12" v-model="schoolType"/>
                    <span class="weui-icon-checked"></span>
                </div>
            </label>
        </div>
    </div>

    <div id="selName" v-show="showPage === 'selName'">
        <div class="weui-flex" style="background-color: white;height: 45px;">
            <div>
                <div class="placeholder edgeButton" @click="cancel">&nbsp; 取消</div>
            </div>
            <div class="weui-flex__item">
                <div class="placeholder center-box" align="center">输入学校名称</div>
            </div>
            <div>
                <div class="placeholder" style="color: dodgerblue;height: 40px;margin-top: 20%;" align="center"
                     @click="submit"> 完成 &nbsp; </div>
            </div>
        </div>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" placeholder="" name="input" v-model="name"/>
                </div>
            </div>
        </div>
        <div class="weui-cells">
            <div class="weui-cells__title">以下用户已经创建，不能重复创建</div>

            <div class="weui-cells weui-cells_radio" id="schList">
                <label class="weui-cell weui-check__label" v-for="school in schList">
                    <div class="weui-cell__bd">
                        <p>{{school}}</p>
                    </div>
                    <div class="weui-cell__ft">
                        <input type="radio" class="weui-check" v-bind:value="school" v-model="name">
                        <span class="weui-icon-checked"></span>
                    </div>
                </label>
            </div>

        </div>
    </div>

</div>
<script>
    function customerList() {
        location.href = '/customer/customerList';
    }
    ;
</script>
</body>

</html>