<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>客户信息</title>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="/weui.css"/>
    <link rel="stylesheet" href="/example.css">

    <script src="/lib/jquery-2.1.1.js"></script>
    <script src="/vue.v2.5.13.js"></script>
    <script src="/customer/customerInfo.js"></script>
    <script src="/organization/showOrganization.js" charset="utf-8"></script>
    <style>
        .center-ele {
            display: inline-block;
        }

        .weui-grid {
            text-align: center;
        }

        .top-bar {
            background: #FFFFFF;
            font-size: 18px;
            text-align: center;

            padding: 8px 15px;
        }

        .pull-left {
            float: left !important;
        }
        .pull-right{
            float: right !important;
        }

        .weui-cells {
            margin-top: 0;
            padding: 0px;
        }

    </style>
</head>
<body>
<div class="center-box">
    <div id="customerVue" class="page navbar js_show">
        <div class="top-bar">
            <span onclick="backToList()" class="pull-left">
                <img src="/images/back_icon.svg" /></span>
            <span class="center" style="padding-left: 4px" th:text="${customerName}"></span>
            <input type="hidden" id="customerId" th:value="${customerId}">
            <span class="pull-right" style="color: rgb(61, 168, 244); font-size: 16px;opacity: 0">编辑</span>
            <!--<input type="hidden" id="customerName" th:value="${customerName}">-->
        </div>
        <div class="weui-tab" style="margin-top: 0px;">
            <div class="weui-navbar" style="height: 40px;font-size: 15px; background: #FFFFFF">
                <div href="#tab1" class="weui-navbar__item weui-bar__item_on">
                    <span class="center-ele">客户信息</span>
                </div>
                <div href="#tab2" class="weui-navbar__item" @click="orgDisplay()">
                    <span class="center-ele">组织机构</span>
                </div>

            </div>
            <div class="weui-tab__panel"  style="background: #FFFFFF">

                <div id="tab1" class="weui-tab__content" style="display: block;">
                    <div class="center-ele">
                        <div class="weui-media-box weui-media-box_text">
                            <h1 class="weui-media-box__title">数据信息</h1>
                            <table border="1">
                                <tr >
                                    <td >项目级别</td>
                                    <td>项目数量</td>
                                    <td>转化率</td>
                                    <td>流失率</td>
                                </tr>
                                <tr>
                                    <td>A级项目</td>
                                    <td>{{companyData.successRateA}}</td>
                                    <td>{{companyData.coverageRateA}}</td>
                                    <td>{{companyData.permeabilityA}}</td>
                                </tr>
                                <tr>
                                    <td>B级项目</td>
                                    <td>{{companyData.successRateB}}</td>
                                    <td>{{companyData.coverageRateB}}</td>
                                    <td>{{companyData.permeabilityB}}</td>
                                </tr>
                                <tr>
                                    <td>C级项目</td>
                                    <td>{{companyData.successRateC}}</td>
                                    <td>{{companyData.coverageRateC}}</td>
                                    <td>{{companyData.permeabilityC}}</td>
                                </tr>
                                <tr>
                                    <td>D级项目</td>
                                    <td>{{companyData.successRateD}}</td>
                                    <td>{{companyData.coverageRateD}}</td>
                                    <td>{{companyData.permeabilityD}}</td>
                                </tr>
                            </table>
                            <!--<div class="weui-grids">
                                <a class="weui-grid">
                                    <canvas id="canvas1" width="80" height="80"
                                            style="background:rgba(0,0,0,0);"></canvas>
                                    <p class="weui-grid__label">成功率</p>
                                </a>
                                <a class="weui-grid">
                                    <canvas id="canvas2" width="80" height="80"
                                            style="background:rgba(0,0,0,0);"></canvas>
                                    <p class="weui-grid__label">覆盖率</p>
                                </a>
                                <a class="weui-grid">
                                    <canvas id="canvas3" width="80" height="80"
                                            style="background:rgba(0,0,0,0);"></canvas>
                                    <p class="weui-grid__label">渗透率</p>
                                </a>-->
                            </div>
                        </div>

                    <div class="weui-media-box weui-media-box_text">
                        <h1 class="weui-media-box__title">拜访信息</h1>
                        <div class="weui-grids" style="text-align: center">
                            <a class="weui-grid">
                                <p class="weui-grid__label">
                                <p>{{visitCount}}</p>
                                <p> 拜访次数
                                <p/>
                                </p>
                            </a>
                            <a class="weui-grid">
                                <p class="weui-grid__label">
                                <p>{{a}}</p>
                                <p>A级人员数量</p>
                                </p>
                            </a>
                            <a class="weui-grid">
                                <p class="weui-grid__label">
                                <p>{{aRate}}</p>
                                <p>A级覆盖率</p>
                                </p>
                            </a>
                        </div>
                    </div>

                        <div class="weui-media-box weui-media-box_text">
                            <h1 class="weui-media-box__title">D级项目信息</h1>
                            <div class="weui-grids" style="text-align: center">
                                <a class="weui-grid">
                                    <p class="weui-grid__label">
                                    <p>{{companyData.dCount}}</p>
                                    <p> 项目数量
                                    <p/>
                                    </p>
                                </a>
                                <a class="weui-grid">
                                    <p class="weui-grid__label">
                                    <p>{{companyData.amount}}</p>
                                    <p>应收金额</p>
                                    </p>
                                </a>
                            </div>
                        </div>

                        <div class="weui-media-box weui-media-box_text">
                            <h1 class="weui-media-box__title">简介（选填）</h1>
                            <p class="weui-media-box__desc" th:text="${profile}"></p>
                        </div>

                        <div class="weui-cells">
                            <a class="weui-cell weui-cell_access" href="javascript:hLink();">
                                <div class="weui-cell__bd">
                                    <p>官网: <span style="color:#00FFFF" th:text="${website}"></span></p>
                                </div>
                                <div class="weui-cell__ft">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="tab2" class="weui-tab__content">
                </div>

                <!-- loading toast -->
                <div id="loadingToast" style="display:none;">
                    <div class="weui-mask_transparent"></div>
                    <div class="weui-toast">
                        <i class="weui-loading weui-icon_toast"></i>
                        <p class="weui-toast__content">数据加载中</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

<script type="text/javascript" class="navbar js_show">
    $(function () {
        $('.weui-navbar__item').on('click', function () {
            $(this).addClass('weui-bar__item_on').siblings('.weui-bar__item_on').removeClass('weui-bar__item_on');
            $(jQuery(this).attr("href")).show().siblings('.weui-tab__content').hide();
        });
    });

    function hLink() {
        return ;
    }

    function backToList() {
        location.href = '/customer/customerList';
    }
</script>

</html>