<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>客户</title>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="/weui.css"/>
    <link rel="stylesheet" href="/example.css">

    <script src="/lib/jquery-2.1.1.js"></script>
    <script src="/vue.v2.5.13.js"></script>
    <script src="/customer/searchCustomerInfo.js"></script>
    <style>
        .center-box {
            text-align: center;
        }

        .top-bar {
            text-align: center;
            background: #FFFFFF;
        }

        .pull-left {
            float: left !important;
        }

        .pull-right {
            float: right !important;
        }
    </style>
</head>
<body>

<div class="page tabbar js_show">
    <div class="weui-tab">
        <div class="weui-tab__panel">
            <div id="customerVue" class="weui-tab">
                <div class="page navbar js_show">
                    <div id="titleBar" v-show="titleBar">
                        <div class="navbar">
                            <div class="top-bar" style="height: 28px; padding: 10px 10px;">
                            <span @click="backToInfo" class="pull-left">
                                <img src="/images/back_icon.svg" style="margin-top:7px;"/></span>
                                <span class="center" style="font-size: 22px; margin-top: 1px">客户</span>
                                <a href="javascript:addCustomer();">
                                        <span class="pull-right" style="margin-top: 7px;"><img
                                                src="/images/add.png"
                                                style="width: 16px; height: 16px; display: block"/></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="weui-tab__panel">
                        <div class="panel">
                            <div id="searchCustomer" v-show="searchCustomer" style="margin-top: 1px">
                                <div class="searchBar">
                                    <div class="weui-search-bar" id="searchBar">
                                        <div class="weui-search-bar__form">
                                            <div class="weui-search-bar__box">
                                                <i class="weui-icon-search"></i>
                                                <input type="text" class="weui-search-bar__input" id="searchInput"
                                                       placeholder="搜索" v-model="searchWord">
                                                <a href="javascript:" class="weui-icon-clear" id="searchClear"
                                                   @click="clear"></a>
                                            </div>
                                            <label class="weui-search-bar__label" id="searchText" @click="text"
                                                   style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
                                                <i class="weui-icon-search"></i>
                                                <span>搜索</span>
                                            </label>
                                        </div>
                                        <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel"
                                           @click="cancel">取消</a>
                                    </div>

                                    <div class="weui-cells searchbar-result" id="searchResult" style="display: none;">
                                        <div class="weui-cells weui-cells_radio">
                                            <label class="weui-cell weui-check__label"
                                                   v-for="customer in customerList.filter(filterList)">
                                                <div class="weui-cell__bd">
                                                    <p v-text="customer.customerName"></p>
                                                </div>
                                                <div class="weui-cell__ft">
                                                    <input type="radio" class="weui-check"
                                                           v-bind:value="customer.customerName"
                                                           v-model="searchWord">
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="weui-panel__bd" v-if="customerList.filter(filterList).length <= 2">
                                        <a class="weui-media-box weui-media-box_appmsg"
                                           @click="loadDetail(customer)" v-for="customer in customerList.filter(filterList)">
                                            <div class="weui-media-box__hd">
                                                <img class="weui-media-box__thumb"
                                                     src="/images/customer/school.svg"
                                                     alt="">
                                            </div>
                                            <div class="weui-media-box__bd">
                                                <h1 class="weui-media-box__title"
                                                    v-text="customer.customerName"></h1>
                                                <p class="weui-media-box__desc">最后跟进: {{customer.lastTs}}</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div id="customers" v-show="customers">
                                <div class="myCustomerList weui-panel weui-panel_access">
                                    <div class="weui-panel__hd weui-media-box__title">我的客户</div>
                                    <div class="weui-panel__bd myCustomers">
                                        <a class="weui-media-box weui-media-box_appmsg"
                                           @click="loadDetail(customer)" v-for="customer in myCustomers">
                                            <div class="weui-media-box__hd">
                                                <img class="weui-media-box__thumb"
                                                     src="/images/customer/school.svg"
                                                     alt="">
                                            </div>
                                            <div class="weui-media-box__bd">
                                                <h1 class="weui-media-box__title"
                                                    v-text="customer.customerName"></h1>
                                                <p class="weui-media-box__desc">最后跟进: {{customer.lastTs}}</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <div class="allCustomerList weui-panel weui-panel_access">
                                    <div class="weui-panel__hd weui-media-box__title">公海客户</div>
                                    <div class="weui-panel__bd allCustomers">
                                        <a class="weui-media-box weui-media-box_appmsg"
                                           @click="loadDetail(customer)" v-for="customer in commonCustomers">
                                            <div class="weui-media-box__hd">
                                                <img class="weui-media-box__thumb"
                                                     src="/images/customer/school.svg"
                                                     alt="">
                                            </div>
                                            <div class="weui-media-box__bd">
                                                <h1 class="weui-media-box__title"
                                                    v-text="customer.customerName"></h1>
                                                <p class="weui-media-box__desc">最后跟进: {{customer.lastTs}}</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div id="blank" style="margin:20% auto auto auto; text-align:center;" v-show="blank">
                                <p>
                                    <img src="/images/customer/customer.svg"/>
                                </p>
                                <p style="color: grey">还没有客户，快去添加吧</p>
                            </div>

                            <!-- loading toast -->
                            <div id="loadingToast" style="display:none;">
                                <div class="weui-mask_transparent"></div>
                                <div class="weui-toast">
                                    <i class="weui-loading weui-icon_toast"></i>
                                    <p class="weui-toast__content">数据加载中</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="weui-tabbar">
        <a href="javascript:;" class="weui-tabbar__item weui-bar__item_on">
            <img src="/images/bottom/customer_2.svg" class="weui-tabbar__icon">
            <p class="weui-tabbar__label">客户</p>
        </a>
        <a href="/opportunity" class="weui-tabbar__item">
            <img src="/images/bottom/opportunity_1.svg" class="weui-tabbar__icon">
            <p class="weui-tabbar__label">商机</p>
        </a>
        <a href="/journal/toList" class="weui-tabbar__item">
            <img src="/images/bottom/journal_1.svg" class="weui-tabbar__icon">
            <p class="weui-tabbar__label">日志</p>
        </a>
        <a href="javascript:;" class="weui-tabbar__item">
            <img src="/images/bottom/project_1.svg" class="weui-tabbar__icon">
            <p class="weui-tabbar__label">项目</p>
        </a>
        <a href="/myAccount" class="weui-tabbar__item" id="tabbarMine">
            <img src="/images/bottom/mine_1.svg" class="weui-tabbar__icon">
            <p class="weui-tabbar__label">我的</p>
        </a>
    </div>
</div>
</div>
</div>
<script type="text/javascript" class="tabbar js_show">
    $(function () {
        $('.weui-tabbar__item').on('click', function () {
            $(this).addClass('weui-bar__item_on').siblings('.weui-bar__item_on').removeClass('weui-bar__item_on');
        });
    });
</script>
<script>
    function addCustomer() {
        location.href = '/customer/add';
    }
    ;
    function journal() {
        location.href = '/journal/toList';
    }
    ;
    function opportunity() {
        location.href = '/opportunity';
    }
</script>
</body>

</html>