<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>客户信息</title>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="/weui.css"/>
    <link rel="stylesheet" href="/example.css">

    <script src="/lib/jquery-2.1.1.js"></script>
    <script src="/vue.v2.5.13.js"></script>
    <script src="/customer/customerInfo.js"></script>
    <script src="/organization/showOrganization.js" charset="utf-8"></script>
    <style>
        .center-ele {
            display: inline-block;
        }

        .weui-grid {
            text-align: center;
        }

        .top-bar {
            font-size: 18px;
            text-align: center;
            padding: 10px 15px;
        }

        .pull-left {
            float: left !important;
        }

        .customer-item{
            background-color: #FFFFFF;
            line-height: 1.47058824;
            font-size: 17px;
            overflow: hidden;
            position: relative;
        }
        .weui-cells{
            margin-top: 0;
            padding: 0px;
        }
        .usr-img{
            position: relative;
            margin-right: 10px;
            padding-left: 30px;
            width: 25px;
            display: block;

        }
        .page__bd_spacing{
            padding-top: 10px;
        }

    </style>
</head>
<body>
<div class="center-box">
    <div class="page navbar js_show">
        <div class="top-bar">
            <span onclick="backToList()" class="pull-left"><img src="/images/back_icon.svg"
                                                                style="margin-top:3px"/></span>
            <span class="center" th:text="${customerName}"></span>
        </div>
        <div class="weui-tab" style="margin-top: 10px;">
            <div class="weui-navbar">
                <div href="#tab1" class="weui-navbar__item weui-bar__item_on">
                    <span class="center-ele">客户信息</span>
                </div>
                <div href="#tab2" class="weui-navbar__item">
                    <span class="center-ele">组织机构</span>
                </div>
            </div>
            <div class="weui-tab__panel">
                <div id="tab1" class="weui-tab__content" style="display: block;">
                    <div class="center-ele">
                        <div class="weui-media-box weui-media-box_text">
                            <h1 class="weui-media-box__title">数据信息</h1>
                            <div class="weui-grids">
                                <a class="weui-grid">
                                    <canvas id="canvas1" width="80" height="80"
                                            style="background:rgba(0,0,0,0);"></canvas>
                                    <p class="weui-grid__label">成功率</p>
                                </a>
                                <a class="weui-grid">
                                    <canvas id="canvas2" width="80" height="80"
                                            style="background:rgba(0,0,0,0);"></canvas>
                                    <p class="weui-grid__label">覆盖率</p>
                                </a>
                                <a class="weui-grid">
                                    <canvas id="canvas3" width="80" height="80"
                                            style="background:rgba(0,0,0,0);"></canvas>
                                    <p class="weui-grid__label">渗透率</p>
                                </a>
                            </div>
                        </div>

                        <div class="weui-cells">
                            <a class="weui-cell weui-cell_access" href="javascript:;">
                                <div class="weui-cell__bd">
                                    <p>拜访次数</p>
                                </div>
                                <div class="weui-cell__ft">10</div>
                            </a>

                        </div>

                        <div class="weui-media-box weui-media-box_text">
                            <h1 class="weui-media-box__title">项目信息</h1>
                            <div class="weui-grids" style="text-align: center">
                                <a class="weui-grid">
                                    <p class="weui-grid__label">
                                    <p>5个</p>
                                    <p> 商机/项目
                                    <p/>
                                    </p>
                                </a>
                                <a class="weui-grid">
                                    <p class="weui-grid__label">
                                    <p>20次</p>
                                    <p>项目支持</p>
                                    </p>
                                </a>
                                <a class="weui-grid">
                                    <p class="weui-grid__label">
                                    <p>10.5万</p>
                                    <p>回款金额</p>
                                    </p>
                                </a>
                            </div>
                        </div>

                        <div class="weui-media-box weui-media-box_text">
                            <h1 class="weui-media-box__title">简介（选填）</h1>
                            <p class="weui-media-box__desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
                        </div>

                        <div class="weui-cells">
                            <a class="weui-cell weui-cell_access" href="javascript:;">
                                <div class="weui-cell__bd">
                                    <p>官网: <span style="color:#00FFFF">www.zju.edu.cn</span></p>
                                </div>
                                <div class="weui-cell__ft">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="tab2" class="weui-tab__content">
                    <div id="organizationVue" >
                        <div class="page navbar js_show" v-show="showPage === 'showCustomerOrganization'">
                            <div class="page__bd" style="height: 100%;">
                                <div class="weui-tab">
                                    <div class="weui-tab__panel">

                                        <div class="weui-search-bar" id="searchBar" style="margin-top: 50px">
                                            <div class="weui-search-bar__form">
                                                <div class="weui-search-bar__box">
                                                    <i class="weui-icon-search"></i>
                                                    <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索"
                                                           @keyup.enter="search" v-model="searchWord" required="">
                                                    <a href="javascript:" class="weui-icon-clear" id="searchClear" @click="clear"></a>
                                                </div>
                                                <label class="weui-search-bar__label" id="searchText" @click="text"
                                                       style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
                                                    <i class="weui-icon-search"></i>
                                                    <span>搜索</span>
                                                </label>
                                            </div>
                                            <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel" @click="cancel">取消</a>
                                        </div>

                                        <div class="weui-cells searchbar-result" id="searchResult" style="display: none">
                                            <div class="weui-cells weui-cells_radio">
                                                <label class="weui-cell weui-check__label" v-for="searchItem in searchList.filter(filterList)">
                                                    <div class="weui-cell__bd">
                                                        <p v-text="searchItem.realName"></p>
                                                    </div>
                                                    <div class="weui-cell__ft">
                                                        <input type="radio" class="weui-check" v-bind:value="searchItem.realName" v-model="searchWord">
                                                    </div>
                                                </label>
                                            </div>
                                        </div>

                                        <div v-show="showOrganization">
                                            <div class="customer-item">
                                                <customer v-for="customer in customerList" :customer="customer"></customer>
                                            </div>
                                        </div>

                                        <div class="js_dialog" id="iosDialog" style="opacity: 1;display: none" v-show="showApplyDialog">
                                            <div class="weui-mask"></div>
                                            <div class="weui-dialog">
                                                <div class="weui-dialog__bd" >
                                                    <h1>提示</h1>
                                                </div>
                                                <div class="weui-dialog__bd">
                                                    <p>是否申请"{{applyDeptName}}"</p>
                                                </div>
                                                <div class="weui-dialog__ft">
                                                    <a @click="dialogCheck()" class="weui-dialog__btn weui-dialog__btn_primary">确定</a>
                                                    <a @click="dialogQuit()" class="weui-dialog__btn weui-dialog__btn_default">取消</a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div v-show="showPage === 'showApply'" style="display: none">
                            <div class="top-bar center-box">
                                <span class="pull-left" @click="applyQuit()">取消</span>
                                <span class="center-ele">申请{{applyDeptName}}</span>
                                <span class="pull-right" @click="applySubmit()">提交</span>
                            </div>
                            <div class="weui-cells">
                                <div class="weui-cell">
                                    <p>申请理由</p>
                                </div>
                                <div class="weui-cell">
                                    <div class="weui-cell__bd">
                                        <textarea class="weui-textarea" placeholder="请输入文本" rows="5" v-model="submitReasons"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="js_dialog" id="submitDialog" style="opacity: 1;display: none" v-show="showSubmitDialog">
                                <div class="weui-mask"></div>
                                <div class="weui-dialog">
                                    <div class="weui-dialog__bd" >
                                        <h1>提示</h1>
                                    </div>
                                    <div class="weui-dialog__bd">
                                        <p>"{{applyDeptName}}"申请成功</p>
                                    </div>
                                    <div class="weui-dialog__ft">
                                        <a @click="submitDialogCheck()" class="weui-dialog__btn weui-dialog__btn_primary">确定</a>
                                    </div>
                                </div>
                            </div>
                            <div class="js_dialog" id="iosDialog2" style="opacity: 1;display: none" v-show="showSubmitErrDialog">
                                <div class="weui-mask"></div>
                                <div class="weui-dialog">
                                    <div class="weui-dialog__bd" v-text="errMsg"></div>
                                    <div class="weui-dialog__ft">
                                        <a @click="showSubmitErrDialog=false" class="weui-dialog__btn weui-dialog__btn_primary">知道了</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div v-show="showPage === 'showOpenSeaWarning'" style="display: none">
                            <div class="top-bar center-box">
                                <span class="pull-left" @click="openSea2Organization()"><</span>
                                <span class="center-ele">客户进入公海警告</span>
                                <span class="pull-right">@@</span>
                            </div>
                            <div class="page__bd page__bd_spacing">
                                <div class="weui-cells">
                                    <div class="weui-cell">
                                        <div class="weui-cell__hd">
                                            <img src="">
                                        </div>
                                        <div class="weui-cell_bd">
                                            <span>{{warningDetails.leftTime}}小时后，{{warningDetails.warnedOrganization}}将自动进入公海</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="weui-cells" style="margin-top: 20px">
                                    <div class="weui-cell">
                                        <div class="weui-cell__hd">
                                            <span>{{warningDetails.warnedOrganization}}</span>
                                        </div>
                                    </div>
                                    <div class="weui-cell">
                                        <div class="weui-cell__hd">
                                            <span>创建时间 : </span>
                                        </div>
                                        <div class="weui-cell__bd">
                                            <span>{{warningDetails.createdTime}}</span>
                                        </div>
                                    </div>
                                    <div class="weui-cell">
                                        <div class="weui-cell__hd">
                                            <span>跟进次数 : </span>
                                        </div>
                                        <div class="weui-cell__bd">
                                            <span>{{warningDetails.times}}</span>
                                        </div>
                                    </div>
                                    <div class="weui-cell">
                                        <div class="weui-cell__hd">
                                            <span>最后跟进 : </span>
                                        </div>
                                        <div class="weui-cell__bd">
                                            <span>{{warningDetails.lastTime}}</span>
                                        </div>
                                    </div>


                                </div>

                                <div class="weui-cells" style="margin-top: 20px">
                                    <div class="weui-cell">
                                        <div class="weui-cells">
                                            <span>调入公海的原因</span>

                                            <ul>
                                                <li><span>原因一</span></li>
                                                <li><span>原因二</span></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>

                                <a href="javascript:;" class="weui-btn weui-btn_primary" style="margin-top: 30px">申请延期</a>


                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

<script type="text/javascript" class="navbar js_show">
    $(function () {
        $('.weui-navbar__item').on('click', function () {
            $(this).addClass('weui-bar__item_on').siblings('.weui-bar__item_on').removeClass('weui-bar__item_on');
            $(jQuery(this).attr("href")).show().siblings('.weui-tab__content').hide();
        });
    });

    function backToList() {
        location.href = '/customer/customerList';
    }
</script>

<script type="text/x-template" id="customer">
    <div class="weui-cells">
        <div class="weui-cell">
            <div class="weui-cell__bd"  >
                <span class="pull-left" style="padding-right: 10px;"> > </span>
                <span class="pull-left" @click="changeSubFold" style="padding-right: 5px;" v-text="customer.deptName"></span>
                <span class="pull-left" v-text="addNumBrackets(customer.contactNumber)"></span>
                <span class="pull-left" v-text="addMineBrackets(customer.enclosureStatus)"></span>
                <span class="pull-left" v-text="addEnclosureBrackets(customer.enclosureStatus)"></span>
                <span class="pull-left" v-text="addNormalBrackets(customer.enclosureStatus)" @click="apply(customer.deptName, customer.deptId)"></span>
                <!--<span class="pull-left" v-text="addOpenSeaWarning(customer.Warning)" @click="openSeaWarning(customer.Warning)"></span>-->
            </div>

        </div>
        <div class="weui-cells" v-show="showSub">
            <div class="weui-cell" v-for="contact in customer.contactsList">
                <div class="weui-cell__hd">
                    <img src="/images/customer/defaultUserIcon.png" class="usr-img">
                </div>
                <div class="weui-cell__bd">
                    <span v-text="contact.realName"></span>
                </div>
            </div>
            <div class="weui-cells" style="padding-left: 30px">
                <customer v-for="subCustomer in customer.departmentList" :customer="subCustomer"></customer>
            </div>
        </div>
    </div>
</script>
</html>