<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>填写日志</title>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="/weui.css"/>
    <link rel="stylesheet" href="/example.css"/>
    <script src="/lib/jquery-2.1.1.js"></script>
    <script src="/vue.v2.5.13.js"></script>
    <script src="/weui.min.js"></script>
    <script src="/journal/editJournal.js?v=3"></script>
    <style>
        .plan-title {
            background-color: #FFFFFF;
            line-height: 1.47058824;
            font-size: 17px;
            overflow: hidden;
            position: relative;
        }
        .weui-cells:before,.receiver-box:after, .receiver-box:before {
            border: none;
        }
        .top-bar {
             background: #ffffff;
             text-align: center;
             padding: 10px 15px;
         }
        .pull-left {
            float: left!important;
        }
        .pull-right {
            float: right!important;
        }
        .visit-type-sel{
            background: #ffffff;
            border-top: solid 2px #DDDDDD;
        }
        .receiver-box {
            width: auto;
            padding: 5px 15px;
        }
        .receiver-name {
            font-size: 12px;
        }
        .addVisit-img {
            padding: 8px 15px;
            width: 25px;
            height: 25px;
        }
    </style>
</head>

<body >
<div id="editJournalVue">
    <input id="journalType" type="hidden" th:value="${journalType}">
    <input id="journalId" type="hidden" th:value="${journalId}">
    <div v-show="showPage === 'journalPage'" id="journalPage">
        <div class="top-bar">
            <span @click="backToList" class="pull-left"><img src="/images/back_icon.svg" style="margin-top:3px"/></span>
            <span class="center" v-text="editTitle"></span>
        </div>

        <div class="weui-cells__title"><p v-text="summaryLabel">今日总结</p></div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <textarea class="weui-textarea" rows="4" v-model="summary"
                              :placeholder="summaryPlaceHolder"></textarea>
                </div>
            </div>
        </div>

        <div class="weui-cells__title"><p v-text="planLabel">明日计划</p></div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <textarea class="weui-textarea" rows="4" v-model="plan"
                              :placeholder="planPlaceHolder"></textarea>
                </div>
            </div>
        </div>

        <div v-for="(visit, index) in visits" :key="'visits_' + index" class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <label>今日拜访&nbsp;{{index+1}}</label>
                </div>
                <div @click="deleteVisit(index)">
                    <span class="red-text">删除</span>
                </div>
            </div>
            <div class="weui-cell" @click="addVisitContacts(index)">
                <div class="weui-cell__bd">
                    <label>拜访客户</label>
                </div>
                <div>
                    <span v-text="calcVisitCustomerName(visit)">客户是我</span>
                    <span><img src="/images/next_page.svg"/></span>
                </div>
            </div>
            <div class="weui-cell" @click="chooseOpportunity(index)">
                <div class="weui-cell__bd">
                    <label>拜访商机/项目</label>
                </div>
                <div>
                    <span v-text="calculateOpportunityName(visit.opportunityId)"></span>
                    <span><img src="/images/next_page.svg"/></span>
                </div>
            </div>
            <div class="weui-cell"  @click="choseVisitType(index)">
                <div class="weui-cell__bd">
                    <label>拜访类型</label>
                </div>
                <div>
                    <span v-text="getVisitTypeName(visit.visitType)"></span>
                    <span><img src="/images/next_page.svg"/></span>
                </div>
            </div>
            <div class="weui-cell">
                <div class="plan-title"><p>拜访结果</p></div>
            </div>
            <div class="weui-cells weui-cells_form" style="margin-top: 0;">
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <textarea class="weui-textarea" rows="4" v-model="visit.visitResult" placeholder="输入拜访结果"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="weui-cells weui-cells_form">
            <div class="weui-cell weui-cell_vcode">
                <div class="weui-cell__bd">
                    <label>今日拜访（选填）</label>
                </div>
                <div class="weui-cell__ft" @click="addVisit">
                    <span>
                        <img class="weui-vcode-img addVisit-img" src="/images/journal/plus.png"/>
                    </span>
                </div>
            </div>
        </div>

        <button @click="submitJournal" class="weui-btn weui-btn_primary">提交</button>
    </div>

		<div v-show="showPage === 'selectContacts'" id="selectContacts">
			<div class="top-bar">
				<span @click="cancelSelectContacts"
					style="color: rgb(61, 168, 244); font-size: 16px;"
					class="pull-left">取消</span> <span>选择拜访客户</span> <span
					@click="confirmSelectContacts"
					style="color: rgb(61, 168, 244); font-size: 16px;"
					class="pull-right">完成</span>
			</div>

			<div class="weui-cells weui-cells_form">
				<div class="weui-search-bar" id="searchBar">
					<div class="weui-search-bar__form">
						<div class="weui-search-bar__box">
							<i class="weui-icon-search"></i> <input type="search"
								class="weui-search-bar__input" id="searchInput" placeholder="搜索"
								v-model="searchWord" required=""> <a href="javascript:"
								class="weui-icon-clear" id="searchClear" @click="clear"></a>
						</div>
						<label class="weui-search-bar__label" id="searchText"
							@click="text"
							style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
							<i class="weui-icon-search"></i> <span>搜索</span>
						</label>
					</div>
					<a href="javascript:" class="weui-search-bar__cancel-btn"
						id="searchCancel" @click="cancel">取消</a>
				</div>

				<div class="weui-cells searchbar-result" id="searchResult" style="display: none">
					<div v-for="(customer, index) in ccustomers" :key="'scustomers_' + index">
						<div class="weui-cell" @click="changeContactsFold2(index)">
							<span class="pull-left" style="padding-right: 10px;">
								<img :src="setImgPath2(index)" id="customer.name+'_simg'" />
							</span>
							<span class="pull-left" v-text="customer.name"></span>
						</div>
						<div v-show="customer.contactsFold" class="weui-cells_checkbox"
							style="padding-left: 10px">
							<bbb v-on:transfer_value="onTransferValue"
								v-for="cc in customer.depts" v-bind:ccc="cc"></bbb>
						</div>
					</div>
				</div>
				<div v-show="showOrganization">
					<div class="weui-cells" v-for="(customer, index) in customers"
						:key="'customers_' + index">
						<div class="weui-cell" @click="changeContactsFold(index)">
							<div class="weui-cell__bd">
								<label v-text="customer.name"></label>
							</div>
							<div>
								<img :src="setImgPath(index)" id="customer.name+'_img'" />
							</div>
						</div>
						<div v-show="!customer.contactsFold" class="weui-cells_checkbox" style="padding-left: 10px">
							<ddd v-on:transfer_value="onTransferValue"
								v-for="cc in customer.depts" v-bind:ccc="cc"></ddd>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div v-show="showPage === 'selectVisitType'" id="selectVisitType">
        <div class="top-bar">
            <span @click="cancelSelectVisitType" style="color: rgb(61, 168, 244); font-size: 16px;" class="pull-left">取消</span>
            <span>选择拜访类型</span>
            <span @click="confirmSelectVisitType" style="color: rgb(61, 168, 244); font-size: 16px;" class="pull-right">完成</span>
        </div>

        <div class="weui-cells_radio visit-type-sel" style="background:#ffffff;">
            <label class="weui-cell weui-check__label" for="visit">
                <div class="weui-cell__bd">
                    <p>拜访</p>
                </div>
                <div class="weui-cell__ft">
                    <input type="radio" class="weui-check" id="visit" :value="'VISIT'" v-model="visitTypeTmp">
                    <i class="weui-icon-checked"></i>
                </div>
            </label>
            <label class="weui-cell weui-check__label" for="phone">
                <div class="weui-cell__bd">
                    <p>电话</p>
                </div>
                <div class="weui-cell__ft">
                    <input type="radio" class="weui-check" :value="'PHONE'" v-model="visitTypeTmp" id="phone">
                    <i class="weui-icon-checked"></i>
                </div>
            </label>
        </div>
    </div>

    <div v-show="showPage === 'selectOpportunity'" id="selectOpportunity">
        <div class="top-bar">
            <span @click="cancelSelectOpportunity" style="color: rgb(61, 168, 244); font-size: 16px;" class="pull-left">取消</span>
            <span>选择商机</span>
            <span @click="confirmSelectOpportunity" style="color: rgb(61, 168, 244); font-size: 16px;" class="pull-right">完成</span>
        </div>

        <div class="weui-cells_radio" style="background:#ffffff;">
            <label class="weui-cell weui-check__label" v-for="(opportunity, index) in opportunities">
                <div class="weui-cell__bd">
                    <p v-text="opportunity.opportunityName"></p>
                </div>
                <div class="weui-cell__ft">
                    <input type="radio" class="weui-check" name="opportunity"
                           :value="opportunity.opportunityId" v-model="opportunityTmp">
                    <i class="weui-icon-checked"></i>
                </div>
                <span style="float:right;margin-top: 7px" @click="showDetailResult(index)">&nbsp;
                                <img src="/images/opportunity/editOpportunity.svg"/>
                </span>
            </label>
			</div>
    </div>
    <div id="saleStage" v-show="showPage === 'saleStage'" style="display: none">
            <div class="top-bar" style="height: 40px">
            <span @click="chooseBack" class="pull-left">
                <img src="/images/back_icon.svg"
                     style="margin-top:10px;margin-left: 10px"/></span>
                <span class="center" style="height: 40px;display: inline-block ;padding-top: 5px;">选择销售阶段</span>
                <span class="pull-right" style="margin-top: 7px; color: #28b3ff"
                      @click="done1"> 完成 &nbsp; </span>
            </div>
            <div class="weui-cells weui-cells_radio">
                <label class="weui-cell weui-check__label" v-for="(stage, index) in stages">
                    <div class="weui-cell__hd">
                        <img :src="'/images/opportunity/'+ ind[index] +'Stage.svg' " style="margin-right: 10px"/>
                    </div>
                    <div class="weui-cell__bd">
                        <p v-text="stage"></p>
                    </div>
                    <div class="weui-cell__ft">
                        <input type="radio" class="weui-check"
                               :value="ind[index] "
                               v-model="selStage">
                        <span class="weui-icon-checked"></span>
                    </div>
                </label>
                <label class="weui-cell weui-check__label">
                    <div class="weui-cell__hd">
                        <img src="/images/opportunity/loseOrder.svg" style="margin-right: 10px"/>
                    </div>
                    <div class="weui-cell__bd">
                        <p>输单</p>
                    </div>
                    <div class="weui-cell__ft">
                        <input type="radio" class="weui-check"
                               value="F"
                               v-model="selStage">
                        <span class="weui-icon-checked"></span>
                    </div>
                </label>
            </div>
        </div>

      <div id="modificationOppo" v-show="showPage ==='modif'">

        <div class="center-box">

            <div id="basicInfo">
                <div class="top-bar">
            <span @click="modifBack2" class="pull-left">
                <img src="/images/back_icon.svg"
                     style="margin-top:5px;"/></span>
                    <span class="center" style="margin-top: 3px;">编辑商机</span>
                    <span class="pull-right" style="margin-top: 0px; color: #28b3ff"
                          @click="detailSubmit"> 完成 &nbsp; </span>
                </div>

                <div class="list">
                    <div class="weui-cells">
                        <div class="weui-cell">基本信息</div>
                        <label style="margin-left: 15px"><span style="color: red">*</span>制作内容</label>
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <input class="weui-input" type="text" placeholder="请填写制作内容" v-model="content">
                            </div>
                        </div>
                        <a class="weui-cell weui-cell_access" @click="showDatePicker">
                            <div class="weui-cell__bd">
                                <p><span style="color: red">*</span>预估挂标日期</p>
                            </div>
                            <div class="weui-cell__ft">
                                <span v-text="preDate"></span>
                            </div>
                        </a>
                        <a class="weui-cell weui-cell_access" @click="deliverDatePicker">
                            <div class="weui-cell__bd">
                                <p><span style="color: red">*</span>交付日期</p>
                            </div>
                            <div class="weui-cell__ft">
                                <span v-text="deliverDate"></span>
                            </div>
                        </a>
                        <a class="weui-cell weui-cell_access" @click="selSaleStage">
                            <div class="weui-cell__bd">
                                <p><span style="color: red">*</span>销售阶段</p>
                            </div>
                            <div class="weui-cell__ft">
                                <span v-text="saleStage"></span>
                            </div>
                        </a>

                        <div class="weui-cell">
                            <div class="weui-cell__hd"><label class="weui-label"><span
                                    style="color: red">*</span>金额(元)</label></div>
                            <div class="weui-cell__bd">
                                <input class="weui-input" type="number" placeholder="请输入项目金额" v-model="amount">
                            </div>
                        </div>
                        <a class="weui-cell weui-cell_access">
                             <div class="weui-cell__bd">
                                        <p><span style="color: red">*</span>客户及联系人</p>
                                        <p style="color: grey">
                                            <!--<span v-text="contact.customerName+'-'+contact.departmentName+'-'+contact.typeName+'-'+contact.realName"></span>-->
                                            <span v-if="contact.customerName === undefined"></span>
                                            <span v-else>{{contact.customerName}}-</span>
                                            <span v-if="contact.topDeptName ===undefined"></span>
                                            <span v-else>{{contact.topDeptName}}-</span>
                                            <span v-if="contact.subDeptName ===undefined"></span>
                                            <span v-else>{{contact.subDeptName}}-</span>
                                            <span v-if="contact.type === undefined"></span>
                                            <span v-else>{{contact.type}}-</span>
                                            <span v-if="contact.contactsName ===undefined"></span>
                                            <span v-else>{{contact.contactsName}}</span>
                                        </p>
                                    </div>

                        </a>

                        <label style="margin-left: 15px"><span style="color: red">*</span>商机名称</label>
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <input class="weui-input" type="text" v-model="opportunityName" placeholder="请输入商机名称">
                            </div>
                        </div>
                    </div>
                </div>

                <!--BEGIN toast-->
                <div id="toast" style="display: none;">
                    <div class="weui-mask_transparent"></div>
                    <div class="weui-toast">
                        <i class="weui-icon-success-no-circle weui-icon_toast"></i>
                        <p class="weui-toast__content">修改成功</p>
                    </div>
                </div>
                <!--end toast-->
            </div>


        </div>
    </div>
    <div style="display:none" id="draftDiv">
        <div class="weui-mask" id="iosMask" style="opacity: 1;"></div>
        <div class="weui-actionsheet weui-actionsheet_toggle" id="iosActionsheet">
            <div class="weui-actionsheet__title">
                <p class="weui-actionsheet__title-text">是否要保存草稿？</p>
            </div>
            <div class="weui-actionsheet__menu">
                <div class="weui-actionsheet__cell" @click="saveDraft">保存</div>
                <div class="weui-actionsheet__cell" style="color:#FF0000;" @click="doToList">不保存</div>
            </div>
            <div class="weui-actionsheet__action">
                <div class="weui-actionsheet__cell" id="iosActionsheetCancel" @click="cancelBackToList">取消</div>
            </div>
        </div>
    </div>
    <div class="js_dialog" id="iosDialog2" style="opacity: 1;" v-show="showErrMsg">
        <div class="weui-mask"></div>
        <div class="weui-dialog">
            <div class="weui-dialog__bd" v-text="errMsg"></div>
            <div class="weui-dialog__ft">
                <a @click="showErrMsg = false" class="weui-dialog__btn weui-dialog__btn_primary">知道了</a>
            </div>
        </div>
    </div>
</div>
</body>
<template id="customer3">
    <div class="weui-cells">
            <div class="weui-cell">
                <p>asdasd</p>
    <div class="weui-cell__bd">
            <div class="weui-cell__bd"  :id="ccc.deptName" >
                <span class="pull-left" @click="changeSubFold(ccc.enclosureStatus)" style="padding-right: 10px;">
                    <img :src="imgPath">
                </span>
                <span class="pull-left" @click="changeSubFold(ccc.enclosureStatus)" v-text="ccc.deptName"
                      style="padding-right: 5px;color: #333333;font-size: 16px" ></span>   <!-- 机构名字 -->
                <span class="pull-left" v-text="addNumBrackets(ccc.contactNumber,ccc.enclosureStatus)"
                      style="color: #333333;font-size: 16px" ></span>                     <!--  机构人员个数 -->
               
            </div>
        </div>
        </div>
        <div class="weui-cells" v-show="showSub" v-if="ccc.enclosureStatus!='ENCLOSURE'">
            <div class="weui-cell" v-for="contact in ccc.contactsList" :id="contact.realName">
                <div class="weui-cell__hd" >
                    <img :src="checkGender(contact.gender)" style="width: 18px;height: 19px" class="usr-img">
                </div>        <!-- 男女头像标记 -->
                <div class="weui-cell__bd">
                    <span v-text="contact.realName" style="color: #333333;font-size: 16px" ></span> <!-- 用户名 -->
                    <span v-text="addTypeName(contact)" :id="'type_name_label_'+contact.contactsId"
                        style="color: #B2B2B2;font-size: 13px;border:solid thin"></span>  <!-- 职位 -->
                </div>
                <div class="weui-cell__ft">
                            <input type="checkbox" v-model="chosenContactsTmp":value="contact"/>
                 </div>
            </div>
		<div class="weui-cells" style="padding-left: 30px">
		<div v-if="showApply">
			 <ddd v-on:transfer_value="onTransferValue" v-for="dd in ccc.departmentList"  v-bind:ccc="dd"></ddd>
		</div>
		<div v-else>
		     <bbb v-on:transfer_value="onTransferValue" v-for="dd in ccc.departmentList"  v-bind:ccc="dd"></bbb>
		</div>
		</div>
	</div>
    </div>
</template>
</html>