<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>填写日志</title>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="/weui.css"/>
    <link rel="stylesheet" href="/example.css"/>
    <script src="/lib/jquery-2.1.1.js"></script>
    <script src="/vue.v2.5.13.js"></script>
    <script src="/journal/editJournal.js?v=3"></script>
    <style>
        .plan-title {
            background-color: #FFFFFF;
            line-height: 1.47058824;
            font-size: 17px;
            overflow: hidden;
            position: relative;
        }
        .weui-cells:before,.receiver-box:after, .receiver-box:before {
            border: none;
        }
        .top-bar {
             background: #ffffff;
             text-align: center;
             padding: 10px 15px;
         }
        .pull-left {
            float: left!important;
        }
        .pull-right {
            float: right!important;
        }
        .visit-type-sel{
            background: #ffffff;
            border-top: solid 2px #DDDDDD;
        }
        .receiver-box {
            width: auto;
            padding: 5px 15px;
        }
        .receiver-name {
            font-size: 12px;
        }
        .addVisit-img {
            padding: 8px 15px;
            width: 25px;
            height: 25px;
        }
    </style>
</head>

<body >
<div id="editJournalVue">
    <input id="journalType" type="hidden" th:value="${journalType}">
    <input id="journalId" type="hidden" th:value="${journalId}">
    <div v-show="showPage === 'journalPage'" id="journalPage">
        <div class="top-bar">
            <span @click="backToList" class="pull-left"><img src="/images/back_icon.svg" style="margin-top:3px"/></span>
            <span class="center" v-text="editTitle"></span>
        </div>

        <div class="weui-cells__title"><p v-text="summaryLabel">今日总结</p></div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <textarea class="weui-textarea" rows="4" v-model="summary"
                              :placeholder="summaryPlaceHolder"></textarea>
                </div>
            </div>
        </div>

        <div class="weui-cells__title"><p v-text="planLabel">明日计划</p></div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <textarea class="weui-textarea" rows="4" v-model="plan"
                              :placeholder="planPlaceHolder"></textarea>
                </div>
            </div>
        </div>

        <div v-for="(visit, index) in visits" :key="'visits_' + index" class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <label>今日拜访&nbsp;{{index+1}}</label>
                </div>
                <div @click="deleteVisit(index)">
                    <span class="red-text">删除</span>
                </div>
            </div>
            <div class="weui-cell" @click="addVisitContacts(index)">
                <div class="weui-cell__bd">
                    <label>拜访客户</label>
                </div>
                <div>
                    <span v-text="calcVisitCustomerName(visit)">客户是我</span>
                    <span><img src="/images/next_page.svg"/></span>
                </div>
            </div>
            <div class="weui-cell" @click="chooseOpportunity(index)">
                <div class="weui-cell__bd">
                    <label>拜访商机</label>
                </div>
                <div>
                    <span v-text="calculateOpportunityName(visit.opportunityId)"></span>
                    <span><img src="/images/next_page.svg"/></span>
                </div>
            </div>
            <div class="weui-cell"  @click="choseVisitType(index)">
                <div class="weui-cell__bd">
                    <label>拜访类型</label>
                </div>
                <div>
                    <span v-text="getVisitTypeName(visit.visitType)"></span>
                    <span><img src="/images/next_page.svg"/></span>
                </div>
            </div>
            <div class="weui-cell">
                <div class="plan-title"><p>拜访结果</p></div>
            </div>
            <div class="weui-cells weui-cells_form" style="margin-top: 0;">
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <textarea class="weui-textarea" rows="4" v-model="visit.visitResult" placeholder="输入拜访结果"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="weui-cells weui-cells_form">
            <div class="weui-cell weui-cell_vcode">
                <div class="weui-cell__bd">
                    <label>今日拜访（选填）</label>
                </div>
                <div class="weui-cell__ft" @click="addVisit">
                    <span>
                        <img class="weui-vcode-img addVisit-img" src="/images/journal/plus.png"/>
                    </span>
                </div>
            </div>
        </div>

        <button @click="submitJournal" class="weui-btn weui-btn_primary">提交</button>
    </div>

    <div v-show="showPage === 'selectContacts'" id="selectContacts">
        <div class="top-bar">
            <span @click="cancelSelectContacts" style="color: rgb(61, 168, 244); font-size: 16px;" class="pull-left">取消</span>
            <span>选择拜访客户</span>
            <span @click="confirmSelectContacts" style="color: rgb(61, 168, 244); font-size: 16px;" class="pull-right">完成</span>
        </div>

        <div class="weui-cells weui-cells_form">
            <div v-for="(customer, index) in customers" :key="'customers_' + index">
                <div class="weui-cell" @click="changeContactsFold(index)">
                    <div class="weui-cell__bd">
                        <label v-text="customer.name"></label>
                    </div>
                </div>
                <div v-show="!customer.contactsFold" class="weui-cells_checkbox" style="padding-left: 10px">
                    <label v-for="(contacts, index_2) in customer.contactsGroup"
                           class="weui-cell weui-check__label" :for="'contacts_' + index + '-' + index_2">
                        <div class="weui-cell__bd">
                            <p v-text="contacts.realName"></p>
                        </div>
                        <div class="weui-cell__ft">
                            <input type="checkbox" class="weui-check"
                                   v-model="chosenContactsTmp"
                                   :value="contacts"
                                   :id="'contacts_' + index + '-' + index_2">
                            <i class="weui-icon-checked"></i>
                        </div>
                    </label>
                </div>
            </div>
        </div>

    </div>

    <div v-show="showPage === 'selectVisitType'" id="selectVisitType">
        <div class="top-bar">
            <span @click="cancelSelectVisitType" style="color: rgb(61, 168, 244); font-size: 16px;" class="pull-left">取消</span>
            <span>选择拜访类型</span>
            <span @click="confirmSelectVisitType" style="color: rgb(61, 168, 244); font-size: 16px;" class="pull-right">完成</span>
        </div>

        <div class="weui-cells_radio visit-type-sel" style="background:#ffffff;">
            <label class="weui-cell weui-check__label" for="visit">
                <div class="weui-cell__bd">
                    <p>拜访</p>
                </div>
                <div class="weui-cell__ft">
                    <input type="radio" class="weui-check" id="visit" :value="'VISIT'" v-model="visitTypeTmp">
                    <i class="weui-icon-checked"></i>
                </div>
            </label>
            <label class="weui-cell weui-check__label" for="phone">
                <div class="weui-cell__bd">
                    <p>电话</p>
                </div>
                <div class="weui-cell__ft">
                    <input type="radio" class="weui-check" :value="'PHONE'" v-model="visitTypeTmp" id="phone">
                    <i class="weui-icon-checked"></i>
                </div>
            </label>
        </div>
    </div>

    <div v-show="showPage === 'selectOpportunity'" id="selectOpportunity">
        <div class="top-bar">
            <span @click="cancelSelectOpportunity" style="color: rgb(61, 168, 244); font-size: 16px;" class="pull-left">取消</span>
            <span>选择商机</span>
            <span @click="confirmSelectOpportunity" style="color: rgb(61, 168, 244); font-size: 16px;" class="pull-right">完成</span>
        </div>

        <div class="weui-cells_radio visit-type-sel" style="background:#ffffff;">
            <label class="weui-cell weui-check__label" v-for="(opportunity, index) in opportunities">
                <div class="weui-cell__bd">
                    <p v-text="opportunity.opportunityName"></p>
                </div>
                <div class="weui-cell__ft">
                    <input type="radio" class="weui-check" name="opportunity"
                           :value="opportunity.opportunityId" v-model="opportunityTmp">
                    <i class="weui-icon-checked"></i>
                </div>
            </label>
        </div>
    </div>

    <div style="display:none" id="draftDiv">
        <div class="weui-mask" id="iosMask" style="opacity: 1;"></div>
        <div class="weui-actionsheet weui-actionsheet_toggle" id="iosActionsheet">
            <div class="weui-actionsheet__title">
                <p class="weui-actionsheet__title-text">是否要保存草稿？</p>
            </div>
            <div class="weui-actionsheet__menu">
                <div class="weui-actionsheet__cell" @click="saveDraft">保存</div>
                <div class="weui-actionsheet__cell" style="color:#FF0000;" @click="doToList">不保存</div>
            </div>
            <div class="weui-actionsheet__action">
                <div class="weui-actionsheet__cell" id="iosActionsheetCancel" @click="cancelBackToList">取消</div>
            </div>
        </div>
    </div>
    <div class="js_dialog" id="iosDialog2" style="opacity: 1;" v-show="showErrMsg">
        <div class="weui-mask"></div>
        <div class="weui-dialog">
            <div class="weui-dialog__bd" v-text="errMsg"></div>
            <div class="weui-dialog__ft">
                <a @click="showErrMsg = false" class="weui-dialog__btn weui-dialog__btn_primary">知道了</a>
            </div>
        </div>
    </div>
</div>
</body>

<template id="customer">
    <div class="weui-cells" style="margin-top: 2px" >
        <div>
            <div class="weui-cell" @click="changeSubFold">
                <div class="weui-cell__bd">
                    <label v-text="customer.name"></label>
                </div>
                <div >
                    <img :src="imgPath"/>
                </div>
            </div>
            <div v-show="showSub" class=" weui-cells_checkbox" style="padding-left: 10px">
                <label v-for="(contacts, index_2) in customer.contactsGroup"
                       class="weui-cell weui-check__label" >
                    <div class="weui-cell__bd">
                        <p v-text="contacts.realName"></p>
                    </div>
                    <div class="weui-cell__ft">
                        <input type="checkbox" class="weui-check" name="checkbox"
                               v-model="chosenContactsTmp" :value="contacts" />
                        <i class="weui-icon-checked"></i>
                    </div>
                </label>
            </div>
        </div>
    </div>
</template>
</html>