<!DOCTYPE html>
<html>
<head>
    <title>工作日志</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="/weui.css">
    <link rel="stylesheet" href="/example.css"/>
    <script src="/lib/jquery-2.1.1.js"></script>
    <script src="/vue.v2.5.13.js"></script>
    <script src="/journal/journalList.js"></script>
    <style>
        .center-box {
            text-align: center;
        }
        .center-ele {
            display: inline-block;
        }
        .top-bar, .journal-box, #journalDetail {
            font-size: 18px;
            text-align: center;
            background: #ffffff;
            border-bottom: solid 1px #DDDDDD ;
        }
        .pull-left {
            float: left!important;
        }
        .pull-right {
            float: right!important;
        }
        .journal-box {
            text-align: left;
            font-size: 18px;
            padding: 5px 15px;
        }
        #journalDetail {
            text-align: left;
            padding:5px 15px;
        }
    </style>
</head>
<body>
<div id="journalVue">
    <div id="journalList" v-show="showPage === 'journalList'">
        <div class="top-bar center-box">
            <div class="title-bar">
                <span class="center-ele">工作日志</span>
                <span class="pull-right">+</span>
            </div>
            <div class="select-bar">
                <span>全部</span>
                <span>未读(<span v-text="">1</span>)</span>
                <span>我发出的</span>
                <span>日报</span>
                <span>周报</span>
                <span>月报</span>
                <span><img style="width: 22px;height: 22px" src="/images/journal/filter.png"></span>
            </div>
        </div>

        <div class="journal-list">
            <div class="journal-box" v-for="journal in journalList">
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <img src="/images/journal/defaultUserIcon.png" alt="" class="weui-tabbar__icon">
                    </div>
                    <div class="weui-cell__bd">
                        <span v-text="journalName(journal)"></span><br>
                        <span v-text="journal.createTs"></span>
                    </div>
                    <div class="weui-cell__ft"><b>***</b></div>
                </div>
                <div class="journal-content" @click="loadDetail(journal.journalId)">
                    <p>
                        <span>今日总结:</span><span v-text="journal.summary"></span>
                    </p>
                    <p><span>明日计划:</span><span v-text="journal.plan"></span></p>
                    <p><span>今日拜访1:</span>李四</p>
                </div>
                <p><span><i class="weui-icon-success"></i>全部已读</span></p>
            </div>
        </div>
    </div>

    <div id="journalDetail" v-show="showPage === 'journalDetail'">
        <div class="top-bar">
            <span @click="backToList" class="pull-left"><</span>
            <span v-text="journalName(curJournal)"></span>
        </div>
        <div id="journalContent">
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <img src="/images/journal/defaultUserIcon.png" alt="" class="weui-tabbar__icon">
                </div>
                <div class="weui-cell__bd">
                    <span v-text="curJournal.user.realName"></span><br>
                    <span v-text="curJournal.createTs"></span>
                </div>
            </div>
            <div>
                <p>
                    <span>今日总结</span>
                    <span v-text="curJournal.summary"></span>
                </p>
                <p>
                    <span>明日计划</span>
                    <span v-text="curJournal.plan"></span>
                </p>
                <p>
                    <span>今日拜访</span>
                    <span>xxxxx-张三</span>
                </p>
            </div>
        </div>
        <div>
            <p><span @click="showRead = true">已读</span>&nbsp;<span @click="showRead = false">未读</span></p>
            <div v-show="showRead" class="weui-cells" style="margin-top: 0">
                <div class="weui-cell" v-for="user in curJournal.read">
                    <span style="display: inline-block;position: relative;">
                        <img src="/images/journal/defaultUserIcon.png" alt="" class="weui-tabbar__icon">
                        <p class="weui-tabbar__label" v-text="user.realName"></p>
                    </span>
                </div>
            </div>
            <div v-show="!showRead" class="weui-cells" style="margin-top: 0">
                <div class="weui-cell" v-for="user in curJournal.unread">
                    <span style="display: inline-block;position: relative;">
                        <img src="/images/journal/defaultUserIcon.png" alt="" class="weui-tabbar__icon">
                        <p class="weui-tabbar__label" v-text="user.realName"></p>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div id="filterDiv">
        <!--todo-->
    </div>
</div>
</body>
</html>