<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>新建项目</title>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="/weui.css"/>
    <link rel="stylesheet" href="/example.css">

    <script src="/lib/jquery-2.1.1.js"></script>
    <script src="/vue.v2.5.13.js"></script>
    <script src="/newProject.js"></script>
    <style>
        .center-ele {
            display: inline-block;
        }

        .pull-left {
            float: left !important;
        }
    </style>
</head>
<body>
<div id ="newProject">
    <div class="weui-flex">
        <div class="weui-flex__item"><div class="placeholder"></div>
            <span class="pull-left"
                  style="font-size: 20px; color:deepskyblue; padding-right: 10px">&nbsp; < </span>
        </div>
        <div class="weui-flex__item" align="center"><div class="placeholder"></div>
            <span class="center-ele" style="font-size: 20px;" align="center">新建项目</span>
        </div>
        <div class="weui-flex__item"><div class="placeholder"></div></div>
    </div>





    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">项目名称</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="请输入项目名称" v-model="name"/>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">项目内容</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="请输入项目内容" v-model="content"/>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">代理商</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="请输入代理商(可选)" v-model="agent"/>
            </div>
        </div>

    </div>
    <div class="weui-cells">
    <a class="weui-cell weui-cell_access" >
        <label class="weui-label" style="white-space:nowrap">客户联系人</label>
        <div class="weui-cell__bd" id="selNam">
            &nbsp; {{person}}
        </div>
        <div class="weui-cell__ft">待选择</div>
    </a>
    </div>

    <div class="weui-cells__title">项目背景</div>
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <textarea class="weui-textarea" placeholder="请输入项目背景" rows="15" v-model="background"></textarea>
            </div>
        </div>
    </div>
    <div class="page__bd page__bd_spacing">
        <div class="hb_mar_top_40">
            <button class="weui-btn weui-btn_primary" id=submit_btn @click="submit">立即创建</button>
        </div>
    </div>

</div>
</body>
</html>