<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>新建商机</title>
    <link rel="stylesheet" href="/weui.css"/>
    <link rel="stylesheet" href="/example.css"/>
    <script src="/lib/jquery-2.1.1.js"></script>
    <script src="/vue.v2.5.13.js"></script>
    <script src="/weui.min.js"></script>
    <script src="/newSale.js"></script>

    <style>
        .top-bar {
            background: #FFFFFF;
            text-align: center;
            padding: 10px 10px;
            font-size: large;
        }

        .pull-left {
            float: left !important;
        }

        .pull-right {
            float: right !important;
        }

        .center-box {
            font-size: large;
            height: 40px;
        }

        .weui-cells {
            margin-top: 0;
            padding: 0px;
        }

        .customer-item {
            background-color: #FFFFFF;
            line-height: 1.47058824;
            font-size: 17px;
            overflow: hidden;
            position: relative;
        }

        .usr-img {
            position: relative;
            margin-right: 10px;
            padding-left: 30px;
            width: 25px;
            display: block;
        }
    </style>
</head>
<body>

<div id="saleVue" class="center-box">

    <div id="basicInfo" v-show="showPage === 'basicInfo'">
        <div class="top-bar">
            <span @click="back" class="pull-left">
                <img src="/images/back_icon.svg"
                     style="margin-top:5px;"/></span>
            <span class="center" style="margin-top: 3px;">新建商机</span>
            <span class="pull-right" style="margin-top: 0px; color: #28b3ff"
                  @click="add"> 完成 &nbsp; </span>
        </div>

        <div class="list">
            <div class="weui-cells">
                <div class="weui-cell">基本信息</div>
                <label style="margin-left: 15px"><span style="color: red">*</span>制作内容</label>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" placeholder="请填写制作内容" v-model="content">
                    </div>
                </div>
                <a class="weui-cell weui-cell_access" @click="showDatePicker">
                    <div class="weui-cell__bd">
                        <p><span style="color: red">*</span>预估挂标日期</p>
                    </div>
                    <div class="weui-cell__ft">
                        <span v-text="preDate"></span>
                    </div>
                </a>
                <a class="weui-cell weui-cell_access" @click="deliverDatePicker">
                    <div class="weui-cell__bd">
                        <p><span style="color: red">*</span>交付日期</p>
                    </div>
                    <div class="weui-cell__ft">
                        <span v-text="deliverDate"></span>
                    </div>
                </a>
                <a class="weui-cell weui-cell_access" @click="selSaleStage">
                    <div class="weui-cell__bd">
                        <p><span style="color: red">*</span>销售阶段</p>
                    </div>
                    <div class="weui-cell__ft">
                        <span v-text="saleStage"></span>
                    </div>
                </a>

                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label"><span
                            style="color: red">*</span>金额(元)</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="number" placeholder="        请输入项目金额" v-model="amount">
                    </div>
                </div>
                <a class="weui-cell weui-cell_access" @click="selCustomer">
                    <div class="weui-cell__bd">
                        <p><span style="color: red">*</span>客户及联系人</p>
                        <p style="color: grey" v-text="contact"></p>
                    </div>
                    <div class="weui-cell__ft"></div>
                </a>

                <label style="margin-left: 15px"><span style="color: red">*</span>商机名称</label>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" v-model="opportunityName" placeholder="请输入商机名称">
                    </div>
                </div>
            </div>
        </div>

        <!--BEGIN toast-->
        <div id="toast" style="display: none;">
            <div class="weui-mask_transparent"></div>
            <div class="weui-toast">
                <i class="weui-icon-success-no-circle weui-icon_toast"></i>
                <p class="weui-toast__content">新建成功</p>
            </div>
        </div>
        <!--end toast-->
    </div>

    <div id="saleStage" v-show="showPage === 'saleStage'" style="display: none">
        <div class="top-bar">
            <span @click="backToInfo" class="pull-left">
                <img src="/images/back_icon.svg"
                     style="margin-top:5px;"/></span>
            <span class="center" style="margin-top: 3px;">选择销售阶段</span>
            <span class="pull-right" style="margin-top: 0px; color: #28b3ff"
                  @click="done1"> 完成 &nbsp; </span>
        </div>
        <div class="weui-cells weui-cells_radio">
            <label class="weui-cell weui-check__label" v-for="(stage, index) in stages">
                <div class="weui-cell__hd">
                    <img :src="'/images/opportunity/'+ ind[index] +'Stage.svg' " style="margin-right: 10px"/>
                </div>
                <div class="weui-cell__bd">
                    <p v-text="stage"></p>
                </div>
                <div class="weui-cell__ft">
                    <input type="radio" class="weui-check"
                           :value="ind[index] + '阶段'"
                           v-model="selStage">
                    <span class="weui-icon-checked"></span>
                </div>
            </label>
            <label class="weui-cell weui-check__label">
                <div class="weui-cell__hd">
                    <img src="/images/opportunity/loseOrder.svg" style="margin-right: 10px"/>
                </div>
                <div class="weui-cell__bd">
                    <p>输单</p>
                </div>
                <div class="weui-cell__ft">
                    <input type="radio" class="weui-check"
                           value="输单"
                           v-model="selStage">
                    <span class="weui-icon-checked"></span>
                </div>
            </label>
        </div>
    </div>

    <div id="customerContact" v-show="showPage === 'customerContact'" style="display: none">
        <div class="top-bar">
            <span @click="backToInfo" class="pull-left">
                <img src="/images/back_icon.svg"
                     style="margin-top:8px;"/></span>
            <span class="center" style="margin-top: 3px;">选择客户及联系人</span>
            <span class="pull-right" style="margin-top: 3px; color: #28b3ff"
                  @click="done2"> 完成 &nbsp;
            </span>
        </div>

        <div class="weui-search-bar" id="searchBar">
            <div class="weui-search-bar__form">
                <div class="weui-search-bar__box">
                    <i class="weui-icon-search"></i>
                    <input type="text" class="weui-search-bar__input" id="searchInput"
                           placeholder="搜索" v-model="keyWord" @keyup.enter="search">
                    <a href="javascript:" class="weui-icon-clear" id="searchClear"
                       @click="clear"></a>
                </div>
                <label class="weui-search-bar__label" id="searchText" @click="text"
                       style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
                    <i class="weui-icon-search"></i>
                    <span>搜索</span>
                </label>
            </div>
            <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel"
               @click="cancel">取消</a>
        </div>

        <div class="customers">
            <div class="weui-cells" v-for="(cust, index) in myCustomers">
                <div class="weui-cell" @click="changeSubFold(index)">
                    <div class="weui-cell__bd" :id="cust.customerName">
                        <span class="pull-left" style="padding-right: 10px;">
                            <img :src="myCustomers[index].imgPath">
                        </span>
                        <span class="pull-left" v-text="cust.customerName"
                              style="padding-right: 5px;color: #333333;font-size: 16px"></span>
                    </div>
                </div>
                <div class="customer-item" v-show="myCustomers[index].showSub" style="padding-left: 20px">
                    <customer v-for="customer in cust.contacts" :customer="customer"
                              v-on:transfer_value="onTransferValue"></customer>

                </div>
            </div>
        </div>
    </div>

</div>

</body>

<script type="text/x-template" id="customer">
    <div class="weui-cells">
        <div class="weui-cell" @click="changeSubFold()">
            <div class="weui-cell__bd" :id="customer.deptName">
                <span class="pull-left" style="padding-right: 10px;">
                    <img :src="imgPath">
                </span>
                <span class="pull-left" v-text="customer.deptName"
                      style="padding-right: 5px;color: #333333;font-size: 16px"></span>
                <span class="pull-left" v-text="addNumBrackets(customer.contactNumber)"
                      style="color: #333333;font-size: 16px"></span>
            </div>
        </div>
        <div class="weui-cells weui-cells_radio" v-show="showSub">
            <label class="weui-cell weui-check__label" v-for="contact in customer.contactsList" :id="contact.realName">
                <div class="weui-cell__hd">
                    <img :src="checkGender(contact.gender)" style="width: 18px;height: 19px" class="usr-img">
                </div>
                <div class="weui-cell__bd">
                    <span v-text="contact.realName" style="color: #333333;font-size: 16px"></span>
                    <span style="padding-left: 5px;color: #B2B2B2;font-size: 13px; border: solid thin;">{{contact.typeName}}</span>
                </div>
                <div class="weui-cell__ft">
                    <input type="radio" class="weui-check" name="radio"
                           :value="contact.totalName" v-model="customerInfo">
                    <span class="weui-icon-checked"></span>
                </div>
            </label>
            <div class="weui-cells" style="padding-left: 30px">
                <customer v-for="subCustomer in customer.departmentList" :customer="subCustomer"
                          v-on:transfer_value="onTransferValue"></customer>
            </div>
        </div>
    </div>
</script>

</html>